x-service-backend-common: &service-backend-common
  build:
    dockerfile: Dockerfile
    context: ./backend
  restart: always
  env_file:
    - .env
  volumes:
    - ./backend:/app/backend
  working_dir: /app
  command: sh -c alembic upgrade head uvicorn backend.app.main:app --host 0.0.0.0 --port 12321 --reload
  networks:
    - main_network

services:
  documentation:
    image: squidfunk/mkdocs-material:9.5.18
    container_name: mkdocs
    working_dir: /docs
    ports:
      - "8010:8000"
    volumes:
      - ./documentation:/docs
    environment:
      - WATCHDOG_USE_POLLING=true
      - WATCHDOG_POLLING_INTERVAL=1
    command: ["serve", "-a", "0.0.0.0:8000", "--livereload", "--dirtyreload", "-w", "docs", "-w", "mkdocs.yml"]
    profiles:
      - docs

  backend1:
    <<: *service-backend-common
    container_name: backend1
    hostname: backend1
    ports:
      - "12345:12321"

  backend2:
    <<: *service-backend-common
    container_name: backend2
    hostname: backend2
    ports:
      - "12346:12321"

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    networks:
      - main_network
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf



networks:
  main_network:
    driver: bridge
